################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/NET.Processor.API/bin
/NET.Processor.API/obj
/NET.Processor.Services/bin
/NET.Processor.Services/obj
.vscode