################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NETProcessor/DesignTimeBuild/.dtbcache.v2
/NET.Processor.API/bin
/NET.Processor.API/obj
/NET.Processor.Services/bin
/NET.Processor.Services/obj