################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/NET.Processor.API/bin
/NET.Processor.API/obj
/NET.Processor.Services/bin
/NET.Processor.Services/obj
NET.Processor.Data/obj/project.assets.json
NET.Processor.Data/obj/NET.Processor.Data.csproj.nuget.g.targets
NET.Processor.Data/obj/NET.Processor.Data.csproj.nuget.g.props
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.csproj.CopyComplete
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.assets.cache
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.AssemblyInfoInputs.cache
NET.Processor.Data/bin/Debug/netcoreapp3.1/UIAutomationTypes.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/UIAutomationProvider.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/UIAutomationProvider.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Windows.Input.Manipulations.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Windows.Forms.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Runtime.Serialization.Formatters.Soap.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Runtime.Serialization.Formatters.Soap.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Printing.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/ReachFramework.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/ReachFramework.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/PresentationFramework.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/PresentationCore.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/PresentationCore.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/Accessibility.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/Accessibility.dll
NET.Processor.Data/obj/NET.Processor.Data.csproj.nuget.dgspec.json
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Xaml.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Xaml.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Windows.Input.Manipulations.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Printing.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Deployment.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Deployment.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/NET.Processor.Data.pdb
NET.Processor.Data/bin/Debug/netcoreapp3.1/NET.Processor.Data.dll
NET.Processor.Data/bin/Debug/netcoreapp3.1/NET.Processor.Data.deps.json
NET.Processor.Data/obj/project.nuget.cache
NET.Processor.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
NET.Processor.Data/bin/Debug/netcoreapp3.1/UIAutomationTypes.xml
NET.Processor.Data/bin/Debug/netcoreapp3.1/PresentationFramework.xml
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.csprojAssemblyReference.cache
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.csproj.FileListAbsolute.txt
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.AssemblyInfo.cs
NET.Processor.Data/bin/Debug/netcoreapp3.1/System.Windows.Forms.dll
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.csproj.CoreCompileInputs.cache
NET.Processor.Data/obj/Debug/netcoreapp3.1/NET.Processor.Data.pdb
